#topMenuBtns {
  position: absolute;
  right: 20px;
}

.topMenuBtn {
  border: none;
  outline: none;
  background: transparent;
  margin: 0 5px;
  color: #c2a25c;
  -webkit-app-region: no-drag;
}

.customLogo {
  width: 150px;
  margin: 0 5px;
  -webkit-app-region: no-drag;
}

#topMenu {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

.pull-right {
  float: right;
}

.mr {
  margin-right: 15px;
}
.ml {
  margin-left: 15px;
}

#dateSelector {
  text-align: center;
}

.linkInfo {
  margin: 0 5px;
  color: #c2a25c;
  -webkit-app-region: no-drag;
}

.linkInfo:hover {
  color: #785814;
}

.info {
  color: black;
  text-align: start;
  margin: 0 5px;
}

.smile {
  color: black;
  -webkit-app-region: no-drag;
}

.text-black {
  color: black;
}
